.oferta-produto td {
    font-size: 1rem;
}

.oferta-produto td:nth-child(2) {
    font-size: 100%;
}

@media only screen and (max-width: 1500px) {
    .oferta-produto td {
        font-size: .9rem;
    }
}

.invisivel {
    display: none;
}