.coluna-direita {
    color: grey;
    overflow-y: scroll;
    display: block;
    position: fixed;
    top: 117px;
    right: 0;
    height: 100%;
    width: 250px;
    border-left: 2px solid #9ec2969c;
}

.dados-compra {
    font-size: .9rem;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.dados-compra td:nth-child(2) {
    text-align: right;
}

/* .dados-compra tr:nth-child(even){background-color: #f2f2f2;}
:hover {background-color: #ddd;} */

.dados-compra td {
    /*border-bottom: 1px solid rgb(241, 241, 241);*/
    padding: .8rem;
}

#selectFornecedor {
    width: 120px;
}

#horaCompra, #dataCompra{
    width: 70px;
    text-align: center;
}

.concluir-compra-botao {
    background-color:#75a96a;
    font-size: 1rem;
    padding: 0 1rem 0 1rem;
    position: absolute;
    bottom: 120px;
    transform: translate(-50%, -50%);
}