.coluna-esquerda {
    color: grey;
    overflow-y: scroll;
    display: block;
    position: fixed;
    top: 117px;
    left: 0;
    height: 100%;
    width: 250px;
    border-right: 2px solid #9ec2969c;
}

.compra-fornecedor {
    font-size: .9rem;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.compra-fornecedor td:nth-child(2) {
    text-align: right;
}

.compra-fornecedor td {
    /*border-bottom: 1px solid rgb(241, 241, 241);*/
    padding: .8rem;
}

.compra-fornecedor tr:hover {
    cursor: pointer;
}

.compra-fornecedor-selecionada {
    font-weight: 600;
}

.nova-compra-botao {
    background-color:#75a96a;
    font-size: 1rem;
    padding: 0 1rem 0 1rem;
    position: absolute;
    bottom: 120px;
    transform: translate(-50%, -50%);
}