/* definir um tamanho (30%) para a div quant custo e total e colocar justify content space evenly*/

.coluna-principal {
    position: fixed;
    overflow: scroll;
    height: 100%;
    color: grey;
    top: 117px;
    left: 250px;
    width: calc(100% - 500px);
}

.compra-produto {
    width: 100%;
}

.compra-produto td {
    vertical-align: middle;
    padding: .8rem;
}

.compra-produto-img {
    width: 70px;
    height: 70px;
    border: 2px solid #87ae87;
    border-radius: 50%;
}

.compra-produto td:nth-child(1) {
    width: 80px;
}

.compra-produto td:nth-child(2) {
    text-align: left;
}

.compra-produto-input {
    width: 50px;
}